html,
body {
  font-family: Calibri, Arial;
  line-height: 1.3rem;
  font-size: 1rem;
}
.menu,
.socials {
  display: flex;
}
.center {
  text-align: center;
}
nav.menu a {
  box-shadow: 0px -1px 4px #6a6a6a;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  background: rgb(45, 114, 175);
  color: #fff;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
h1 {
  font-size: 2rem;
  line-height: 2.3rem;
  color: rgb(45, 114, 175);
}
h2,
h3 {
  color: rgb(45, 114, 175);
  line-height: 2.5rem;
}
.icon {
  fill: rgb(45, 114, 175);
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.action {
  border: 1px solid rgb(45, 114, 175);
  max-width: 22rem;
  padding: 1rem 2rem;
  margin: 0 auto 2rem auto;
  background: rgb(45, 114, 175);
  color: #fff;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-size: 1.3rem;
  box-shadow: 0px -1px 4px #6a6a6a;
}

@media (min-width: 1024px) and (max-width: 3000px) {
  body {
    margin: auto;
    max-width: 90%;
  }
  .main-photo {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  div.logo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }
  div.logo > img {
    margin-top: 21px;
    width: 75px;
    height: 75px;
  }
  div.logo > h1 {
    padding-left: 1.5rem;
  }
  .slider {
      width: 60%;
  }
  .slider,
  .dream {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .dream {
    margin-bottom: 2rem;
  }
  .dream .logo {
    width: 500px;
  }
  .slider .slider-description {
    width: 50%;
    box-sizing: border-box;
    padding: 0rem 2rem;
    margin-top: -1.5em;
  }
  /* .slider .slider-description p, */
  .slider .slider-description .call-to-action {
    display: block;
    margin: 2rem;
  }
  .call-to-action a {
    background: rgb(45, 114, 175);
    color: #fff;
    padding: 1rem 2rem;

    font-size: 1.5rem;
    text-decoration: none;
  }
  .call-to-action button,
  .call-to-action small {
    display: block;
    text-align: center;
  }
  .call-to-action small {
    color: #6a6a6a;
  }
  .slider .swiper-container {
    display: flex;
    flex: 1;
    width: 60%;
  }

  nav.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 3rem;
  }

  /*header .logo {*/
  /*  display: block;*/
  /*  margin: auto;*/
  /*}*/

  nav.menu {
    display: flex;
    flex-direction: row;
  }
  nav.menu > a {
      margin-right: .5rem;
  }

  body {
    margin: auto;
  }
  section {
    padding: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .socials {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  div.logo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }
  div.logo > img {
    margin-top: 21px;
    width: 75px;
    height: 75px;
  }
  div.logo > h1 {
    padding-left: 1.5rem;
  }
  .main-photo {
    display: none;
  }
  .call-to-action button,
  .call-to-action small {
    display: block;
    text-align: center;
  }
  .call-to-action small {
    color: #6a6a6a;
  }
  /*header .logo {*/
  /*  display: block;*/
  /*  margin: auto;*/
  /*}*/
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
  }
  .top {
    white-space: nowrap;
  }

  .menu {
    flex-direction: row;
  }
  body {
    margin: 0 2rem;
    max-width: 60rem;
  }
  section {
    padding: 0.5rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .socials {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  body {
    margin: 20px;
  }
  .main-photo {
    width: 100%;
  }
  header {
    position: relative;
  }
  div.logo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }
  div.logo > img {
    margin-top: 21px;
    width: 75px;
    height: 75px;
  }
  div.logo > h1 {
    padding-left: 1.5rem;
  }

  /*.logo {*/
  /*  width: 100%;*/
  /*  margin: auto;*/
  /*  display: block;*/
  /*}*/

  .call-to-action button,
  .call-to-action small {
    display: block;
    text-align: center;
  }
  .call-to-action small {
    color: #6a6a6a;
  }
  section {
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .menu {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  .menu a {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
  }
  .socials {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
  }
}

@media (min-width: 240px) and (max-width: 360px) {
  body {
    margin: 0.3rem;
  }
  .main-photo {
    width: 100%;
  }
  header {
    position: relative;
  }
  .logo {
    width: 100%;
    margin: auto;
    display: block;
  }

  section {
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .menu {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  .menu a {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
  }
  .socials {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
  }
}
